
#game{
    margin: auto;
    width: 420px;
    height: 420px;
    background-color: lightgreen;
}
#block{
    width: 140px;
    height: 140px;
    float: left;
    border: 1px solid white;
    box-sizing: border-box;
    text-align: center;
    font-size: 80px;
    line-height: 140px;
}
